* {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 10%;
}

.svelte-button {
    background-color: rgb(241, 241, 241);
    color: rgb(77, 77, 77);
    font-weight: bolder;
}
hr {
    margin: 20px 0 20px;
}